@model List<StockMvcProject.Models.Entity.TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Post))
            {
                <p>
                    Aranacak Müşteri Adı : @Html.TextBox("p")
                    <input type="submit" value="ara" />
                </p>
            }


<table  class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Alert</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <th>@item.MUSTERIID</th>
                <td>@item.MUSTERIAD</td>
                <td>@item.MUSTERISOYAD</td>
                <td><a href="/Musteri/Sil/@item.MUSTERIID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@item.MUSTERIID" class="btn btn-success">Güncelle</a></td>
                <td>@Html.ActionLink("Sil Butonu", "Sil", new { id = item.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten silmek istiyormusunuz?')" })</td>
            </tr>
            }
    </tbody>
</table>

<a class="btn btn-primary" href="/Musteri/MusteriEkle">Müşteri Ekle</a>